.brand-name,.navbar-nav a{
    color: #0275DB;
}

#nav-header{
    height: 100px;
    
}



.nav-pills .nav-link:hover{
    color:#fff;
    background-color: #037ae1;
}
.nav-pills .nav-link:active{
    background-color: #036bc7;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    color: #fff; /* white text */
    background-color: #037ae1; /* Bootstrap primary */
}

.wishlist-icon,.cart-icon{
   font-size: 1.2rem;

}

#main-section{
    padding-top: 100px;
}

.start-95{
    position:absolute;
    left : 95%;
}

.card-img-top{
    height: 220px;
    width: 220px;
}