.brand-name,.navbar-nav a{
    color: #0275DB;
}

#nav-header{
    height: 80px;
    
}



.nav-pills .nav-link:hover{
    color:#fff;
    background-color: #037ae1;
}
.nav-pills .nav-link:active{
    background-color: #036bc7;
}

.nav-pills .nav-link.active,
.nav-pills .nav-link.active:focus,
.nav-pills .nav-link.active:hover {
    color: #fff; /* white text */
    background-color: #037ae1; /* Bootstrap primary */
}

.mh-400{
    max-height: 400px;
}

#banners {
    padding-top: 80px;
}

.wishlist-icon,.cart-icon{
   font-size: 1.2rem;

}

.back-to-home{
    height: 2rem;

background: rgb(40, 111, 179);

background: linear-gradient(to left, rgb(146, 188, 248) 0%, rgb(45, 102, 208) 50%);

background: -moz-linear-gradient(to left, rgb(146, 188, 248) 0%, rgb(45, 102, 208) 50%);

background: -webkit-linear-gradient(to left, rgb(146, 188, 248)  0%, rgb(45, 102, 208) 50%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4DC9E6", endColorstr="#210CAE", GradientType=1 );
}

.footer-container{
    height: 15rem;
    color: white;
   background: rgb(58, 116, 240);

background: linear-gradient(to left, rgb(75, 125, 231) 0%, hsla(220, 78%, 29%, 1) 40%);

background: -moz-linear-gradient(to left, rgb(75, 125, 231) 0%, hsla(220, 78%, 29%, 1) 40%);

background: -webkit-linear-gradient(to left, rgb(75, 125, 231) 0%, hsla(220, 78%, 29%, 1) 40%);

filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9BAFD9", endColorstr="#103783", GradientType=1 );
    
}

.footer-container a{
    color: white;
    font-size: 1.1rem;
}